@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alstom Interview!</h1>
    <p>Learn about <a href="https://www.alstom.com/">Alstom</a>.</p>
    <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/AlstomBlue.jpg")" />
</div>
