@*
    Simple array sum problem solution view
*@
@{
    ViewData["Title"] = "Simple Array Sum Solution";
}

<h1>Solution test</h1>
<div>
  <form>
      <p class="form-group">
        <label for="inputTextArea1">Input text area</label>
        <textarea class="form-control" id="inputTextArea1" rows="3"></textarea>
      </p>
      <p>
          <button type="submit" class="btn btn-primary">Run code</button>
      </p>
      <p class="form-group">
        <label for="resultTextArea1">Result</label>
        <textarea class="form-control" id="resultTextArea1" rows="1"></textarea>
      </p>
  </form>
</div>
